{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
{% endblock %}

<div class="cover-div">
  <div class="image">
    <img src="{% static 'images/cute_signup.jpg' %}" alt="">
  </div>

  <div class="cover">
        <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <form  action="/login" method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ login_form.email }}
            </div>
            <div class="form-group">
              {{ login_form.password }}
            </div>
            <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary signup">Log In</button>
            <div class="or-div">
            <div class="line"></div><span class="or">&nbsp;  OR</span> <div class="line right"></div>
            </div>
            
            <div class="card signup-box">
            <p> Don't have an account?<span class="text-blue">&nbsp; <a href="/register"> Sign up</a></span></p>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="cover-div-sm">
    <div class="cover">
        <div class="logo">
          <img src="{% static 'images/logo.png' %}" alt="">
          {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <form  action="/login" method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ login_form.email }}
            </div>
            <div class="form-group">
              {{ login_form.password }}
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1-sm">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary signup">Log In</button>
            <div class="or-div">
              <div class="line"></div><span class="or">&nbsp;  OR</span> <div class="line right"></div>
            </div>
            
            <div class="card signup-box">
              <p> Don't have an account?<span class="text-blue">&nbsp; <a href="/register"> Sign up</a></span></p>
            </div>
          </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/registration/login.js' %}"></script>
{% endblock %}