{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/registration/register.css' %}">
{% endblock %}

<div class="cover-div">
  <div class="image">
    <img src="{% static 'images/cute_signup.jpg' %}" alt="">
  </div>
  <div class="cover">
        <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="">
        {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
        {% endif %}
        <form  action="/register" method="post">
            {% csrf_token %}
              <div class="form-group">
                {{ register_form.username }}
              <!-- <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" autocomplete="email"> -->
              </div>
              <div class="form-group">
                {{ register_form.email }}
                <!-- <input type="text" class="form-control" id="f-name" placeholder="Full Names" autocomplete="name"> -->
              </div>
              <div class="form-group">
                {{ register_form.password1 }}
                <!-- <input type="text" class="form-control" id="username" placeholder="Username" autocomplete="username"> -->
              </div>
              <div class="form-group">
                {{ register_form.password2 }}
              <!-- <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="current-password"> -->
              </div>
              <button type="submit" class="btn btn-primary signup">Sign Up</button>
              <div class="or-div">
              <div class="line"></div><span class="or">&nbsp;  OR</span> <div class="line right"></div>
              </div>
              
              <div class="card signup-box">
              <p> Have an account?<span class="text-blue">&nbsp; <a href="/login"> Log in</a></span></p>
              </div>
          </form>
       
        </div>
    </div>
</div>
<div class="cover-div-sm">
    <div class="cover">
        <div class="logo">
          <img src="{% static 'images/logo.png' %}" alt="">
          {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
        {% endif %}
        <form  action="/register" method="post">
            {% csrf_token %}
              <div class="form-group">
                {{ register_form.username }}
              <!-- <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" autocomplete="email"> -->
              </div>
              <div class="form-group">
                {{ register_form.email }}
                <!-- <input type="text" class="form-control" id="f-name" placeholder="Full Names" autocomplete="name"> -->
              </div>
              <div class="form-group">
                {{ register_form.password1 }}
                <!-- <input type="text" class="form-control" id="username" placeholder="Username" autocomplete="username"> -->
              </div>
              <div class="form-group">
                {{ register_form.password2 }}
              <!-- <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="current-password"> -->
              </div>
              <button type="submit" class="btn btn-primary signup">Sign Up</button>
              <div class="or-div">
              <div class="line"></div><span class="or">&nbsp;  OR</span> <div class="line right"></div>
              </div>
              
              <div class="card signup-box">
              <p> Have an account?<span class="text-blue">&nbsp; <a href="/login"> Log in</a></span></p>
              </div>
          </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/registration/register.js' %}"></script>
{% endblock %}