{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'css/profile.css' %}">
    <title>Profile</title>
</head>
<body>
    <div class="container mt-3">
        <div class="row mt-5">
            <div class="col-sm-7 card">
                <div class="row uploaded-img-div">
                    <div class="col uploaded-img">
                        <form method="post" enctype="multipart/form-data" action="/profile">
                            {% csrf_token %}
                            {%  if user.profile.profile_image %}
                            <img id="upload-image" src="{{ user.profile.profile_image.url }}">

                            {% else %}
                            <span class="material-icons profile-img" id="upload-image">account_circle</span>
                            {% endif %}
                            
                            <input type="file" name="profile" id="upload" onchange="this.form.submit();">
                        </form>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col mt-4 text-title">
                                    {{user.username}}
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col mt-3">
                                {{user.email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-3">
                                Followers 19.4k   Following 1500
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="mt-5">Your Posts</h2>
        {% if posts_count > 0 %}
        <div class="posts">
            {% for post in posts %}
            <div class="post mr-3">
                <a href="post/{{ post.id }}">
                    <img src="{{ post.post_image.url }}" alt="">               
                </a>
                
            </div>
            {% endfor %}
        </div>           
        {% else %}
        <div class="mt-5">
            You do not have any posts.
        </div>
        {% endif %}
        
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>