.nav{
    z-index: 500;
    margin-top: 0px;
    height: 58px;
    background-color: white;
    position: fixed;
    
}
.nav-img img{
    width: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.nav-img{
    position: fixed;
    z-index: 1000;
   
}
.nav-right .row{
    display: flex !important;
    justify-content: flex-end !important;
    width: 100%;
    
}
.nav-right{
    font-size: 24px;
    margin-top: 10px;
    position: fixed;
    width: 100%;   
    z-index: 1000;
    
}
.up-tad{
    margin-top: -5px;
}
@media screen and (min-width: 600px){
    .nav-img img{
        width: 125px;
    }
    .nav{
        padding-left: 200px;
        padding-right: 100px;
    }
    .nav-right{
        width: 65%;
    }
}