.image{
    padding-top: 40px;
}
.image img{
    width: 100%;
}
.hidden{
    display: none;
}
.screen-sm{
    display: block;
}
.screen-bg{
    display: none;
}

@media screen and (min-width: 600px){
    .screen-sm{
        display: none;
    }
    .screen-bg{
        display: block;
    }
    .center-flex{
        display: flex;
        justify-content: center;
    }
    .post-box{
        border: 1px solid lightgray;
        display: flex;
        flex-direction: row;
}
    .padding-space{
        padding-top: 80px;
        height: 2px;
    }
    .image-org {
        padding-top: 0%;
    }
    .image-org img{
        width: 500px;
        height: 550px;
    }
    .profile-photo{
        display: block;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    
    .engage-section{
        position: relative;
        width: 330px;
    }
    .bottom{
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    .bottom .row{
        width: 100%;
    }
    .textarea-bg{
        border: none;
        width: 100%;
        background-color: transparent;
        resize: none;
    }
    .textarea-bg:focus{
        box-shadow: none;
        background-color: transparent;
        
    }
    .post-btn-lg{
        position: absolute;
        bottom: 20px;
        right: -8px;
        margin: 0%;
        padding: 0%;
        font-weight: bold;
    }
    .comments-section-lg{
        height: 330px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}