.profile-img{
    font-size: 112px;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%);
}
.uploaded-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
.text-title{
    font-size: 24px;
}
.choose_file{
    cursor: pointer;    
    
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}
#upload{
    visibility: hidden;
}
.posts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.post img{
    width: 120px;
    height: 120px;
}
@media screen and (min-width: 600px){
    .uploaded-img img{
        width:200px;
        height: 200px ;
    }
    .post img{
        width: 300px;
        height: 300px;
    }
}