.upload-btn{
    font-size: 70px;
    cursor: pointer;
}

.center-div{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.center{
    width: 60%;
}

#upload{
    display: none;
}

@media screen and (min-width: 600px){
    .center{
        width: 30%;
    }
}